<div class="alert alert-info mb-4" role="alert">
  <div class="row">
    <div class="col-1">
      <button type="button" class="btn btn-light" routerLink="/index">Go Back</button>
    </div>

    <div class="col mt-2">
      Daily IN-OUT Transaction
    </div>
  </div>
</div>


<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-sidebar [(visible)]="inCash" position="left" [baseZIndex]="10000">
  <h2 style="font-weight:normal">Cash IN Entry</h2>

  <div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Porpose</span>
    </div>
    <input type="text" class="form-control" placeholder="Tell" [(ngModel)]="cashInName" name="cashInName">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Details</span>
    </div>
    <input type="text" class="form-control" placeholder="Details" [(ngModel)]="cashInDetails" name="cashInDetails">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Amount</span>
    </div>
    <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="cashInAmount" name="cashInAmount" (keyup)="isNumber('in')">
  </div>

  <br>
  <button pButton type="button" (click)="EntryCheck('in')" label="Save" class="ui-button-success"></button>
  <button pButton type="button" (click)="inCash = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>

<p-sidebar [(visible)]="outCash" position="right" [baseZIndex]="10000">
  <h2 style="font-weight:normal">Cash OUT Entry</h2>


  <div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Porpose</span>
    </div>
    <input type="text" class="form-control" placeholder="Tell" [(ngModel)]="cashOutName" name="cashOutName">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Details</span>
    </div>
    <input type="text" class="form-control" placeholder="Details" [(ngModel)]="cashOutDetails" name="cashOutDetails">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Amount</span>
    </div>
    <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="cashOutAmount" name="cashOutAmount"
      (keyup)="isNumber('out')">
  </div>
  <br>

  <button pButton type="button" (click)="EntryCheck('out')" label="Save" class="ui-button-success"></button>
  <button pButton type="button" (click)="outCash = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>

<p-sidebar [(visible)]="outCashEdit" [fullScreen]="true" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Cash out Edit</h1>
  <button pButton type="button" (click)="outCashEdit = false" label="Save" class="ui-button-success"></button>
  <button pButton type="button" (click)="outCashEdit = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>

<p-sidebar [(visible)]="inCashEdit" [fullScreen]="true" [baseZIndex]="10000">
  <h1 style="font-weight:normal">Cash in Edit</h1>
  <button pButton type="button" (click)="inCashEdit = false" label="Save" class="ui-button-success"></button>
  <button pButton type="button" (click)="inCashEdit = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>


<div class="row">

  <!--Cash IN-->
  <div class="container">

    <button type="button" (click)="inCash = true" class="btn btn-success ml-4">New Cash IN</button>
    <button type="button" (click)="inCashEdit = true" class="btn btn-warning ml-4" disabled>Cash IN Edit</button>

    <div class="container mt-3">
      <div>
        <p class="alert alert-info">Cash IN</p>
        <table class="table" *ngIf="inShow">
          <thead>
            <tr>
              <th scope="col">Porpose</th>
              <th scope="col">Details</th>
              <th scope="col">Amount</th>
              <th scope="col">Entry By</th>
              <th scope="col">Time</th>
              <th scope="col">Date</th>
              <div *ngIf="role == 'admin'">
                <th scope="col">Delete (If admin)</th>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of inResult">
              <td>{{r.porpose}}</td>
              <td>{{r.details}}</td>
              <td>{{r.amount}}</td>
              <td>{{r.updateby}}</td>
              <td>{{r.CreatedTime}}</td>
              <td>{{r.CreatedDate}}</td>
              <div *ngIf="role == 'admin'">
                <td> <button type="button" class="btn btn-warning ml-3" (click)="delete(r.entryid)">Delete</button></td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container mt-3" *ngIf="!inShow">
      <p class="alert alert-info">No Result Found</p>
    </div>
  </div>
</div>

<!--Cash Out-->
<div class="row mr-2">
  <div class="container">
    <button type="button" (click)="outCash = true" class="btn btn-success ml-4">New Cash Out</button>
    <button type="button" (click)="outCashEdit = true" class="btn btn-warning ml-4" disabled>Cash Out Edit</button>

    <div class="container mt-3">
      <div>
        <p class="alert alert-info">Cash OUT</p>
        <table class="table" *ngIf="outShow">
          <thead>
            <tr>
              <th scope="col">Porpose</th>
              <th scope="col">Details</th>
              <th scope="col">Amount</th>
              <th scope="col">Entry By</th>
              <th scope="col">Time</th>
              <th scope="col">Date</th>
              <div *ngIf="role == 'admin'">
                <th scope="col">Delete (If admin)</th>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of outResult">
              <td>{{r.porpose}}</td>
              <td>{{r.details}}</td>
              <td>{{r.amount}}</td>
              <td>{{r.updateby}}</td>
              <td>{{r.CreatedTime}}</td>
              <td>{{r.CreatedDate}}</td>
              <div *ngIf="role == 'admin'">
                <td> <button type="button" class="btn btn-warning ml-3" (click)="delete(r.entryid)">Delete</button></td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container mt-3" *ngIf="!outShow">
      <p class="alert alert-info">No Result Found</p>
    </div>

  </div>
</div>