<nav class="navbar fixed-bottom navbar-expand navbar-secondary bg-secondary">
  <a class="navbar-brand" routerLink="" style="color: black">RB Software</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" style="color: black">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black" routerLink="/print-oder">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black" routerLink="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black" routerLink="/account-view">Account</a>
      </li>
      <li class="nav-item">
        <span class="nav-link" style="color: black">Build v1.00</span>
      </li>
      <!-- <div> when log in plugin then its will functional
        <li class="nav-item">
          <a class="nav-link" style="color: black" routerLink="/logout">Logout</a>
        </li>
      </div> -->
    </ul>
  </div>
</nav>
