<nav class="navbar fixed-bottom navbar-expand navbar-secondary bg-dark">
  <a class="navbar-brand" routerLink="" style="color: red">RB Software</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: red" routerLink="/sign" *ngIf="!checkLogin()">Signin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/index" style="color: red" *ngIf="checkLogin()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: red" routerLink="/print-oder" *ngIf="checkLogin()">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: red" routerLink="/search" *ngIf="checkLogin()">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: red" routerLink="/account-view" *ngIf="checkLogin()">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: red" routerLink="/print-details" *ngIf="checkLogin()">Printing</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" style="color: red" routerLink="/in-out" *ngIf="checkLogin()">Cash IN/OUT</a>
        </li>
      <li class="nav-item" *ngIf="checkLogin()">
          <a class="nav-link" style="color: red" routerLink="/admin" *ngIf="isAdmin()">Root Access</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" style="color: red" routerLink="/logout" *ngIf="checkLogin()">Logout</a>
      </li>
      <li class="nav-item">
        <span class="nav-link" style="color: yellow">Beta -> Build 2.00</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" style="color: yellow">Last Updated -> 13.9.18</span>
      </li>
    </ul>
  </div>
</nav>
