<div class="alert alert-info mb-1" role="alert">
  <div class="row">
    <div class="col-1">
      <button type="button" class="btn btn-light" routerLink="/index">Go Back</button>
    </div>
    <div class="col mt-2">
      History
    </div>
  </div>
</div>



<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div *ngIf="isClientDataLoad">
  <div class="jumbotron">

    <div class="container">
      <p></p>
      <h1 class="display-3">Client-Name {{clientDetails.name}}</h1>
      <span>
        Bill No: {{clientDetails.BillNo}}
        <br> Address: {{clientDetails.address}}
        <br> Phone No : {{clientDetails.phoneNo1}}
        <br> Phone No : {{clientDetails.phoneNo2}}
        <br> Party Name: {{clientDetails.PartyName}}
        <br> Created Date: {{clientDetails.CreatedDate}}
        <br> Created Time: {{clientDetails.CreatedTime}}
      </span>
    </div>
  </div>

  <div class="container mt-5" *ngIf="isPrintDataLoad">
    <p class="alert alert-secondary">List Of Order</p>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>FileName</th>
            <th>Type</th>
            <th>Hight</th>
            <th>Wide</th>
            <th>sft</th>
            <th>Quantity</th>
            <th>Option</th>
            <th>Option Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of oderList">
            <td>{{list.FileName}}</td>
            <td>{{list.PrintType}}</td>
            <td>{{list.height}}</td>
            <td>{{list.wide}}</td>
            <td>{{list.sft}}</td>
            <td>{{list.quantity}}</td>
            <td>{{list.option}}</td>
            <td>{{list.optionalPrice}}</td>
          </tr>
        </tbody>
      </table>


      <div *ngIf="isAccountDataLoad">
        <p>Billing</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Amount</span>
          </div>
          <input type="text" class="form-control" placeholder="{{accountDetails.amount}}" disabled>
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Advance</span>
          </div>
          <input type="text" class="form-control" placeholder="{{accountDetails.advance}}" disabled>
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Due</span>
          </div>
          <input type="text" class="form-control" placeholder="{{accountDetails.Due}}" disabled>
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>