<div class="alert alert-info mb-4" role="alert">
  <div class="row">
    <div class="col-1">
      <button type="button" class="btn btn-light" routerLink="/index">Go Back</button>
    </div>

    <div class="col mt-2">
      Account Details
    </div>
  </div>
</div>


<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="container">

  <div class="alert alert-warning" role="alert">
    {{HeaderMSG}}
    <br>
    This Order are not Approved By Account or The Advance is 0 Amount
  </div>

  <div class="row mb-2 mt-2 ml-2 mr-2">
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter Bill No or Phone Number" [(ngModel)]="btnBillNo"
          name="btnBillNo">
      </div>
      <div class="col">
        <button class="form-control btn-info" (click)="searchByBillNo()">Search</button>
      </div>
    </div>
    <hr>


  <div class="row mt-1 mb-3">
    <div class="col">
      <button type="button" class="btn btn-warning btn-lg btn-block mt-2 mb-2" (click)="get_prev_list()">Show Previous</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-warning btn-lg btn-block mt-2 mb-2" (click)="get_today_list()">Show Today</button>
    </div>
  </div>

  <div class="table-responsive" *ngIf="isLoaded">
    <table class="table table-striped table-sm" *ngIf="!nothingFound">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Phone No</th>
          <th>Party Name</th>
          <th>Created Time</th>
          <th>Enter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of oderList">
          <td>{{list.name}}</td>
          <td>{{list.phoneNo1}}</td>
          <td>{{list.PartyName}}</td>
          <td>{{list.CreatedTime}}</td>
          <button type="button" class="btn btn-dark btn-sm mt-1 mb-1" (click)="enter(list.BillNo)">Enter</button>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="alert alert-danger" role="alert" *ngIf="nothingFound">
    No Record Found
  </div>
</div>