<div class="alert alert-info" role="alert">
  Enter Order
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div class="container">

  <div class="alert alert-warning" role="alert">
    Here Today Account History
  </div>
  <div class="table-responsive" *ngIf="isLoaded">
    <table class="table table-striped table-sm" *ngIf="!nothingFound">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Phone No</th>
          <th>Party Name</th>
          <th>Quantity</th>
          <th>SFT</th>
          <th>Print Type</th>
          <th>File Name</th>
          <th>Created Time</th>
          <th>Enter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of oderList">
          <td>{{list.name}}</td>
          <td>{{list.phoneNo1}}</td>
          <td>{{list.PartyName}}</td>
          <td>{{list.quantity}}</td>
          <td>{{list.sft}}</td>
          <td>{{list.PrintType}}</td>
          <td>{{list.FileName}}</td>
          <td>{{list.CreatedTime}}</td>
          <button  type="button" class="btn btn-dark btn-sm mt-1 mb-1" (click)="enter(list.BillNo)">Enter</button>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="nothingFound">
    No Record For Today
  </div>
</div>
