<div class="alert alert-info" role="alert">
  Print Account
</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div *ngIf="systemLoad">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Client-Name {{clientDetails.name}}</h1>
      <span>
        Address: {{clientDetails.address}}
        <br> Phone No : {{clientDetails.phoneNo1}}
        <br> Phone No : {{clientDetails.phoneNo2}}
        <br> Party Name: {{clientDetails.PartyName}}
      </span>
    </div>
  </div>


  <div class="container">
    <p class="alert alert-danger">Enter Price or Default Price are Selected</p>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Pana Price</span>
      </div>
      <input type="number" placeholder="15" (keyup)="calculate(in_pana.value, 'Pana')" #in_pana>

      <div class="input-group-prepend">
        <span class="input-group-text">PVC Price</span>
      </div>
      <input type="number" placeholder="15" (keyup)="calculate(in_pvc.value, 'PVC')" #in_pvc>
    </div>
  </div>


  <div class="container mt-5">
    <p class="alert alert-secondary">List Of Order</p>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>FileName</th>
            <th>Type</th>
            <th>Hight</th>
            <th>Wide</th>
            <th>sft</th>
            <th>Quantity</th>
            <th>Frame</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of oderList">
            <td>{{list.FileName}}</td>
            <td>{{list.PrintType}}</td>
            <td>{{list.height}}</td>
            <td>{{list.wide}}</td>
            <td>{{list.sft}}</td>
            <td>{{list.quantity}}</td>
            <td>{{list.Frame}}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="prevPay" class="alert alert-warning">
        Advance Paid For Giving Due Go To Edit Page. Thank You!
      </div>

      <div *ngIf="!prevPay">
        <p>Billing</p>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Amount</span>
          </div>
          <input type="text" class="form-control" placeholder="{{amount}}" [(ngModel)]="amount" name="amount" disabled>
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Advance</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="advance" name="advance" (keyup)="advance_cal(in.value)" #in>
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Balance</span>
          </div>
          <input type="text" class="form-control" placeholder="{{due}}">
        </div>


        <br>
        <br>

        <button type="button" class="btn btn-success btn-lg btn-block mt-2 mb-3" (click)="make_data_store()">Procced</button>
      </div>
    </div>
  </div>
</div>
