<div class="container">

  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <img src="{{img_link}}" height="100" width="500"/>
  </div>

  <div class="row">
    <div class="col-md mt-3">
      <div class="row mt-4">
        <div class="col">
          <button type="button" class="btn btn-success btn-lg btn-block" routerLink='/print-oder'>Order</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-info btn-lg btn-block" routerLink='/search'>Search</button>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col">
          <button type="button" class="btn btn-warning btn-lg btn-block" routerLink='/account-view'>Account</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="refresh()">Refresh Chart</button>
        </div>
      </div>
    </div>
    <div class="col-md" *ngIf="isPiChartReady">
      <google-chart [data]="pieChartData"></google-chart>
    </div>
    <div class="col-md" *ngIf="!isPiChartReady">
      <p class="alert alert-danger">There is problem in Chart or Check internet</p>
    </div>

  </div>
</div>

<div *ngIf="isComboChartReady">
  <google-chart [data]="DayChartData"></google-chart>
</div>

<div *ngIf="!isComboChartReady">
  <p class="alert alert-danger">There is problem in Chart or Check internet</p>
</div>
